
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/img/burger.png" id="png" alt="burger" />
			<h1> EatDaBurger! </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burgerData}}
			  	{{!-- {{#unless this.devoured}} --}}
				<div class="col-md-9 text-center" id="leftBurgers">
					<p> {{this.id}}. {{this.burger_name}} </p>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-success">Devour it!</button>
					</form>
				</div>
				{{!-- {{/unless}} --}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burgerData}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<br>
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<br>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>


{{!-- <div class="jumbotron">
    <h1 class="text-center">EatDaBurger!!!</h1>
    <img src="../../public/20200117_095450.png">
</div>

<div class="container">

    <div class="row">
        <div class="col-md-5">
            <h2>Burgers</h2>
            <hr>
            <ul>
                {{#each burgers}}
                <li>
                    <p>ID: {{this.id}} {{this.burger}}</p>
                </li>
                {{/each}}
            </ul>
            <div id="burger-area"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p> Burger Name</p>
            <form action="/" method: "POST">
                <textarea type="text" name="task"></textarea>
                <br>
                <button id="submit" class="btn btn-lg puu-right">Submit</button>
            </form>
        </div>
    </div>

</div> --}}